*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

:root {
	font-size: 16px;
	color: #101820;
}

body {
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

header {
	min-height: 100vh;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		350deg,
		rgba(255, 255, 255, 1) 30%,
		rgba(32, 112, 177, 1) 30.15%
	);
	display: flex;
	justify-content: center;
	align-items: center;
}

header > #introduction {
	display: flex;
	width: 85%;
	background-color: white;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
	align-items: center;
	height: 400px;
}

#introduction-content {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

#introduction-content > #wrapper {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
}

#wrapper > #header {
	font-size: 55px;
	font-family: 'Playfair Display', serif;
}

#introduction-content > #header-image-wrapper {
	position: relative;
	border-radius: 10px;
}

#introduction-content > #header-image-wrapper > #header-image-container {
	width: 450px;
	border-radius: 10px;
	box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

#introduction-content
	> #header-image-wrapper
	> #header-image-container
	> picture
	> img {
	border-radius: 10px;
}

#introduction-content
	> #header-image-wrapper
	> #header-image-container
	> #name-wrapper {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

#introduction-content
	> #header-image-wrapper
	> #header-image-container
	> #name-wrapper
	> #name {
	color: white;
	font-size: 45px;
	font-family: 'Playfair Display', serif;
	text-align: center;
}

#introduction > #introduction-content > #header {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
}

#introduction > #introduction-content > #wrapper > #header-content {
	font-size: 22px;
	color: darkslategray;
	min-height: 100%;
}

#links {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	gap: 20px;
	align-items: center;
}

.icon {
	font-size: 30px;
	cursor: pointer;
	color: #101820;
	transition: transform 0.1s linear;
	user-select: none;
}

.icon:hover {
	color: slategray;
}

.icon:active {
	transform: scale(0.9);
}

.devicon-twitter-original {
	font-size: 25px;
}

main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 30px 70px 80px;
	gap: 30px;
}

.project {
	height: 400px;
	box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.2);
	transition: transform 0.1s linear;
}

.project:hover {
	transform: scale(1.02);
	box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.5);
}

.project > .content {
	height: 40%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project > .content > .header {
	display: flex;
	justify-content: space-between;
}

.project > .content > .header > p {
	font-size: 24px;
	font-family: 'Playfair Display', serif;
}

.project > .content > .header > .links {
	display: flex;
	align-items: center;
	gap: 15px;
}

.project > .content {
	padding: 10px 15px;
}

.project > .content > p {
	color: darkslategray;
}

.links > .project-icon {
	font-size: 30px;
	cursor: pointer;
	color: #101820;
	transition: transform 0.1s linear;
	user-select: none;
}

.project-icon:hover {
	color: slategray;
}

.project-icon:active {
	transform: scale(0.9);
}

.project > .image-container {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: white;
	font-size: 35px;
}

#first-project {
	position: relative;
}

#projects-header {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	padding-left: 70px;
}

#first-project-image {
	background-color: indianred;
}
#second-project-image {
	background-color: slateblue;
}
#third-project-image {
	background-color: mediumseagreen;
}
#fourth-project-image {
	background-color: orchid;
}
#fifth-project-image {
	background-color: sandybrown;
}
#sixth-project-image {
	background-color: cornflowerblue;
}

footer {
	background-color: rgb(32, 112, 177);
	height: 80vh;
	width: 100%;
	color: white;
	padding: 40px;
	display: flex;
	gap: 30px;
}

footer > #content {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-size: 22px;
}

footer > #content > #header {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}

footer > #content > #content > #phone-container,
footer > #content > #content > #mail-container {
	display: flex;
	align-items: center;
	gap: 15px;
}

footer > #content > #content > #mail-container {
	margin-top: -25px;
}

footer > #content > #links {
	display: flex;
	justify-content: flex-start;
}

.footer-icon:hover {
	color: ghostwhite;
}

footer > #image-container {
	overflow: hidden;
	width: 60%;
	border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
	header {
		padding-top: 150px;
		height: 110vh;
	}

	header > #introduction {
		width: 80%;
		height: auto;
		gap: 20px;
	}

	#introduction-content {
		gap: 0px;
		padding: 30px;
		display: block;
	}

	#introduction-content > #wrapper {
		display: block;
		gap: 0px;
		width: 100%;
	}

	#introduction-content > #header-image-wrapper {
		width: 400px;
	}

	#introduction-content > #header-image-wrapper > #header-image-container {
		float: left;
		transform: translate(-20%, -35%);
		margin-right: -60px;
		margin-bottom: -145px;
	}

	#introduction-content
		> #header-image-wrapper
		> #header-image-container
		> picture
		> img {
		box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);
	}

	#introduction-content
		> #header-image-wrapper
		> #header-image-container
		> #name-wrapper {
		top: 0px;
		transform: translate(35%, -5%);
	}

	#introduction-content
		> #header-image-wrapper
		> #header-image-container
		> #name-wrapper
		> #name {
		font-size: 80px;
		width: 200%;
	}

	#introduction > #introduction-content > #wrapper > #header-content {
		font-size: 27px;
	}

	#links {
		display: none;
	}

	footer {
		justify-content: space-between;
		align-items: center;
	}

	footer > #content {
		justify-content: center;
		gap: 50px;
	}

	footer > #image-container {
		width: 40%;
	}
}

@media only screen and (max-width: 600px) {
	header {
		padding: 0px;
		width: 100%;
		height: auto;
		padding-bottom: 20px;
	}

	header > #introduction {
		width: 100%;
		justify-content: center;
		gap: 0px;
		padding: 20px;
		box-shadow: none;
	}

	#introduction-content {
		gap: 30px;
	}

	main {
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
		padding: 20px;
		padding-bottom: 50px;
	}

	#projects-header {
		padding-left: 20px;
	}

	#introduction-content > #wrapper {
		padding: 0px;
		display: flex;
		gap: 20px;
		height: auto;
	}

	#introduction-content {
		padding: 0px;
		display: flex;
		flex-direction: column;
	}

	#introduction > #introduction-content > #wrapper > #header-content {
		font-size: 24px;
	}

	#links {
		display: flex;
		justify-content: center;
	}

	#introduction-content > #header-image-wrapper > #header-image-container {
		float: none;
		transform: translate(0%, 0%);
		margin-right: 0px;
		margin-bottom: 0px;
		position: relative;
		width: 100%;
	}

	#introduction-content > #header-image-wrapper {
		width: 100%;
	}

	#introduction-content
		> #header-image-wrapper
		> #header-image-container
		> #name-wrapper {
		right: 0px;
		transform: translate(0%, 85%);
	}

	#introduction-content
		> #header-image-wrapper
		> #header-image-container
		> #name-wrapper
		> #name {
		font-size: 35px;
		width: 100%;
	}

	#introduction > #introduction-content > #wrapper > #header {
		font-size: 50px;
		line-height: 40px;
		text-align: center;
	}

	footer {
		height: 110vh;
		padding: 10px;
		flex-direction: column;
	}

	footer > #content {
		height: 50%;
		width: 100%;
		font-size: 20px;
		gap: 30px;
	}

	footer > #content > #header {
		font-size: 40px;
	}

	footer > #content > #content > #mail-container {
		font-size: 17px;
	}

	footer > #content > #links {
		justify-content: center;
	}

	footer > #image-container {
		width: 100%;
	}
}
